<h1>
  Edit address #<%= @address.id %>
</h1>

<hr>

<form action="/update_address/<%= @address.id %>" method="post">

  <div class="form-group">
    <label for="country_id">
      Country
    </label>

    <%= select_tag(:country_id, options_from_collection_for_select(Country.all, :id, :name, @address.country_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update address
  </button>
</form>

<hr>

<a href="/addresses">
  Go back
</a>
