<h1>
  Edit address #<%= @address.id %>
</h1>

<hr>

<!-- Form address start -->
<form action="/update_address/<%= @address.id %>" method="post">
<!-- Form address end -->

  <!-- Label and input for country_id start -->
  <div class="form-group">
    <label for="country_id">
      Country
    </label>

    <!-- Input for country_id start -->
    <%= select_tag(:country_id, options_from_collection_for_select(Country.all, :id, :name, @address.country_id), :class => "form-control") %>
    <!-- Input for country_id end -->
  </div>
  <!-- Label and input for country_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update address
  </button>
</form>

<hr>

<a href="/addresses">
  Go back
</a>
