<% if @address.present? %>
  <% if @address.errors.any? %>
    <% @address.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new address
</h1>


<hr>

<form action="/create_address" method="post">

  <div class="form-group">
    <label for="country_id">
      Country
    </label>

    <%= select_tag(:country_id, options_from_collection_for_select(Country.all, :id, :name, @address.country_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create address
  </button>
</form>

<hr>

<a href="/addresses">
  Go back
</a>
