<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit user #<%= @user.id %>
</h1>

<hr>

<form action="/update_user/<%= @user.id %>" method="post">

  <div class="form-group">
    <label for="address_id">
      Address
    </label>

    <%= select_tag(:address_id, options_from_collection_for_select(Address.all, :id, :country_id, @user.address_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update user
  </button>
</form>

<hr>

<a href="/users">
  Go back
</a>
