<h1>
  Add a new user
</h1>


<hr>

<!-- Form user start -->
<form action="/create_user" method="post">
<!-- Form user end -->

  <!-- Label and input for address_id start -->
  <div class="form-group">
    <label for="address_id">
      Address
    </label>

    <!-- Input for address_id start -->
    <input type="text" id="address_id" name="address_id" class="form-control">
    <!-- Input for address_id end -->
  </div>
  <!-- Label and input for address_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create user
  </button>
</form>

<hr>

<a href="/users">
  Go back
</a>
