<form action="/create_address_from_country" method="post">

  <input type="hidden" name="country_id" value="<%= @country.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create address
  </button>
</form>
