<!-- Form address start -->
<form action="/create_address_from_country" method="post">
<!-- Form address end -->

  <!-- Label and input for country_id start -->
  <!-- Input for country_id start -->
  <input type="hidden" name="country_id" value="<%= @country.id %>">
  <!-- Input for country_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create address
  </button>
</form>
