<h1>
  Edit country #<%= @country.id %>
</h1>

<hr>

<form action="/update_country/<%= @country.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @country.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update country
  </button>
</form>

<hr>

<a href="/countries">
  Go back
</a>
